<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayce.food.dao.FoodMapper">
  <resultMap id="BaseResultMap" type="com.jayce.food.pojo.Food">
    <id column="food_id" jdbcType="BIGINT" property="foodId" />
    <result column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="fridge_id" jdbcType="BIGINT" property="fridgeId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="food_type" jdbcType="INTEGER" property="foodType" />
    <result column="storage_method" jdbcType="INTEGER" property="storageMethod" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="manufacture_time" jdbcType="TIMESTAMP" property="manufactureTime" />
    <result column="quality_time" jdbcType="BIGINT" property="qualityTime" />
    <result column="bind_time" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    food_id, tag_id, fridge_id, food_name, food_type, storage_method, manufacturer, manufacture_time, 
    quality_time, bind_time, status
  </sql>
  <select id="selectByExample" parameterType="com.jayce.food.pojo.FoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="!(beginIndex==null || pageSize==null)">
      limit ${beginIndex}, ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_food
    where food_id = #{foodId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tab_food
    where food_id = #{foodId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jayce.food.pojo.FoodExample">
    delete from tab_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jayce.food.pojo.Food">
    insert into tab_food (food_id, tag_id, fridge_id, 
      food_name, food_type, storage_method, 
      manufacturer, manufacture_time, quality_time, 
      bind_time, status)
    values (#{foodId,jdbcType=BIGINT}, #{tagId,jdbcType=VARCHAR}, #{fridgeId,jdbcType=BIGINT}, 
      #{foodName,jdbcType=VARCHAR}, #{foodType,jdbcType=INTEGER}, #{storageMethod,jdbcType=INTEGER}, 
      #{manufacturer,jdbcType=VARCHAR}, #{manufactureTime,jdbcType=TIMESTAMP}, #{qualityTime,jdbcType=BIGINT}, 
      #{bindTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jayce.food.pojo.Food">
    insert into tab_food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodId != null">
        food_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="fridgeId != null">
        fridge_id,
      </if>
      <if test="foodName != null">
        food_name,
      </if>
      <if test="foodType != null">
        food_type,
      </if>
      <if test="storageMethod != null">
        storage_method,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="manufactureTime != null">
        manufacture_time,
      </if>
      <if test="qualityTime != null">
        quality_time,
      </if>
      <if test="bindTime != null">
        bind_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodId != null">
        #{foodId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="fridgeId != null">
        #{fridgeId,jdbcType=BIGINT},
      </if>
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null">
        #{foodType,jdbcType=INTEGER},
      </if>
      <if test="storageMethod != null">
        #{storageMethod,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="manufactureTime != null">
        #{manufactureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityTime != null">
        #{qualityTime,jdbcType=BIGINT},
      </if>
      <if test="bindTime != null">
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jayce.food.pojo.FoodExample" resultType="java.lang.Long">
    select count(*) from tab_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tab_food
    <set>
      <if test="record.foodId != null">
        food_id = #{record.foodId,jdbcType=BIGINT},
      </if>
      <if test="record.tagId != null">
        tag_id = #{record.tagId,jdbcType=VARCHAR},
      </if>
      <if test="record.fridgeId != null">
        fridge_id = #{record.fridgeId,jdbcType=BIGINT},
      </if>
      <if test="record.foodName != null">
        food_name = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.foodType != null">
        food_type = #{record.foodType,jdbcType=INTEGER},
      </if>
      <if test="record.storageMethod != null">
        storage_method = #{record.storageMethod,jdbcType=INTEGER},
      </if>
      <if test="record.manufacturer != null">
        manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.manufactureTime != null">
        manufacture_time = #{record.manufactureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qualityTime != null">
        quality_time = #{record.qualityTime,jdbcType=BIGINT},
      </if>
      <if test="record.bindTime != null">
        bind_time = #{record.bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tab_food
    set food_id = #{record.foodId,jdbcType=BIGINT},
      tag_id = #{record.tagId,jdbcType=VARCHAR},
      fridge_id = #{record.fridgeId,jdbcType=BIGINT},
      food_name = #{record.foodName,jdbcType=VARCHAR},
      food_type = #{record.foodType,jdbcType=INTEGER},
      storage_method = #{record.storageMethod,jdbcType=INTEGER},
      manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      manufacture_time = #{record.manufactureTime,jdbcType=TIMESTAMP},
      quality_time = #{record.qualityTime,jdbcType=BIGINT},
      bind_time = #{record.bindTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jayce.food.pojo.Food">
    update tab_food
    <set>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="fridgeId != null">
        fridge_id = #{fridgeId,jdbcType=BIGINT},
      </if>
      <if test="foodName != null">
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null">
        food_type = #{foodType,jdbcType=INTEGER},
      </if>
      <if test="storageMethod != null">
        storage_method = #{storageMethod,jdbcType=INTEGER},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="manufactureTime != null">
        manufacture_time = #{manufactureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityTime != null">
        quality_time = #{qualityTime,jdbcType=BIGINT},
      </if>
      <if test="bindTime != null">
        bind_time = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jayce.food.pojo.Food">
    update tab_food
    set tag_id = #{tagId,jdbcType=VARCHAR},
      fridge_id = #{fridgeId,jdbcType=BIGINT},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_type = #{foodType,jdbcType=INTEGER},
      storage_method = #{storageMethod,jdbcType=INTEGER},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      manufacture_time = #{manufactureTime,jdbcType=TIMESTAMP},
      quality_time = #{qualityTime,jdbcType=BIGINT},
      bind_time = #{bindTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where food_id = #{foodId,jdbcType=BIGINT}
  </update>
</mapper>